<ion-header class="ion-no-border">
<!-- <ion-toolbar>

</ion-toolbar> -->
<ion-buttons slot="start">
  <ion-back-button defaulthref="login" text=""></ion-back-button>
</ion-buttons>
</ion-header>


<ion-content>
  <ion-card>
    
    <ion-img src="assets/icon/header1.png"></ion-img>
   
    </ion-card>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          
          <ion-input type="text" name="email"  placeholder="email" required></ion-input>

        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
        
          <ion-input type="password" name="password"  placeholder="********" required></ion-input>

        </ion-item>

      </div>
      <div class="forgetpassword">
      <ion-button fill="clear">Forgotpassword</ion-button>
    </div>
     <div class="signbt">
      <ion-button [routerLink]="['/home']" shape="round" fill="solid" class="sign-btn">Login </ion-button>
    </div>
    </ion-card-content>
  
</ion-content>
