ion-toolbar {
  --ion-background-color: transparent;
  --opacity:0;
  heigh:0px;

  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

.wrapform{
	
	margin-top:30px;
}

.ion-item{
	color:blue;
}

.forgetpassword{
	text-align:right;
}
.signbt{
	text-align:center;
	.sign-btn{
	--ion-primary-color:#215AB7;
	color:#F4F6FA;
	}
}
ion-content {
 		--background-color: #E1EAF9 !important;

}

